<div class="text-center">Данный сайт предначзначен для тренировки перед выполнением тестовых заданий,
а так же как создание шпоргалки для создания каких либо проектов и закрепления знаний</div>

<div class="container">
    <div class="row text-center">
        <div class="col cursor-pointer">
            <a routerLink="/admin"><img src="assets/images/admin.gif" alt="adminImg"></a>
        </div>
        <div class="col cursor-pointer">
            <a routerLink="/products"><img src="assets/images/user.png" alt="adminImg"></a>
        </div>
    </div>
</div>